@import "colors"

.candidateBlock
  display: flex
  align-items: center
  max-width: 480px
  flex-direction: column
  align-items: flex-start
  @media only screen and (max-width: 480px)
    max-width: 360px

.candidateInfo
  display: flex
  width: 100%
  justify-content: space-between
  h6.partyName
    background-color: $brown
    padding: 0.5rem
    color: white

.candidateName
  flex: 3
