.candidateBlocks {
}
.candidateBlock {
  display: flex;
  margin-bottom: 2rem;
  position: relative;
  h6: {
    margin-bottom: 0px;
  }
}

.candidateName {
  flex: 3;
}

.constituenciesLinks {
  list-style: none;
}

.constituencyLink {
  display: inline;
  margin-right: 1rem;
}

.constituencyLink a {
  word-break: keep-all;
}

.candidateFinanceBlock {
  flex: 6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.candidateFinanceDetailBlock {
  display: flex;
}

.isElected {
  position: absolute;
  top: -2rem;
  left: -2rem;
  border: 2px dashed red;
  padding: 0.3rem;
  border-radius: 100%;
  color: red;
}
