.candidateBlocks {
}
.candidateBlock {
  display: flex;
  margin-bottom: 2rem;
}

.candidateName {
  flex: 3;
}

.constituenciesLinks {
  list-style: none;
}

.constituencyLink {
  display: inline;
  margin-right: 1rem;
}

.constituencyLink a {
  word-break: keep-all;
}

.candidateFinanceBlock {
  flex: 6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.candidateFinanceDetailBlock {
  display: flex;
}
