.candidateBlockWrapper
  margin-bottom: 3rem
  position: relative
  h6
    margin-bottom: 0.5rem

.candidateBlock
  display: flex
  align-items: center

.candidateName
  flex: 3

.constituenciesLinks
  list-style: none

.constituencyLink
  display: inline
  margin-right: 1rem

.constituencyLink a
  word-break: keep-all

.candidateFinanceBlock
  flex: 6
  display: flex
  flex-wrap: wrap
  flex-direction: column

.candidateFinanceDetailBlock
  display: flex
  align-items: center

.isElected
  position: absolute
  top: -1rem
  left: -1rem
  border: 2px dashed red
  padding: 0.3rem
  border-radius: 100%
  color: red
